.brend {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 60px 140px;
}
.brend h1 {
  font-size: 48px;
  color: white;
  text-align: center;
}
.brend .brend-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

@media (max-width: 1200px) {
  .brend {
    gap: 60px;
    padding: 60px 100px;
  }
  .brend h1 {
    font-size: 48px;
  }
  .brend .brend-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 1120px) {
  .brend {
    gap: 60px;
    padding: 60px 50px;
  }
  .brend h1 {
    font-size: 48px;
  }
  .brend .brend-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .brend {
    gap: 60px;
    padding: 60px 50px;
  }
  .brend h1 {
    font-size: 38px;
  }
  .brend .brend-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .brend {
    gap: 60px;
    padding: 60px 50px;
  }
  .brend h1 {
    font-size: 38px;
  }
  .brend .brend-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
.chooseProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #22343D;
  padding: 50px 120px;
  gap: 30px;
}
.chooseProduct .choose-title {
  text-align: center;
  font-size: 48px;
  color: white;
}
.chooseProduct .choose-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.chooseProduct .choose-cards .choose-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  border: 2px solid lightgrey;
  padding: 30px;
  border-radius: 10px;
}
.chooseProduct .choose-cards .choose-card h2 {
  color: white;
}
.chooseProduct .choose-cards .choose-card p {
  color: #FFFFFF;
  font-weight: 100;
}

@media (max-width: 1400px) {
  .chooseProduct {
    padding: 50px;
    gap: 30px;
  }
  .chooseProduct .choose-title {
    font-size: 48px;
  }
  .chooseProduct .choose-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .chooseProduct .choose-cards .choose-card {
    gap: 20px;
    padding: 30px;
  }
}
@media (max-width: 992px) {
  .chooseProduct {
    padding: 30px;
    gap: 30px;
  }
  .chooseProduct .choose-title {
    font-size: 48px;
  }
  .chooseProduct .choose-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .chooseProduct .choose-cards .choose-card {
    margin: 0 auto;
    gap: 20px;
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .chooseProduct {
    padding: 30px;
    gap: 30px;
  }
  .chooseProduct .choose-title {
    font-size: 48px;
  }
  .chooseProduct .choose-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .chooseProduct .choose-cards .choose-card {
    margin: 0 auto;
    gap: 20px;
    padding: 30px;
  }
}
.hpwork {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 120px;
  align-items: center;
  text-align: center;
}
.hpwork .hpwork-title {
  color: white;
  font-size: 48px;
}
.hpwork .hpwork-items {
  display: flex;
  gap: 100px;
  padding: 30px 0;
}
.hpwork .hpwork-items .hpwork-img {
  flex: 1;
}
.hpwork .hpwork-items .hpwork-img img {
  width: 100%;
}
.hpwork .hpwork-items .hpwork-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: start;
  text-align: start;
}
.hpwork .hpwork-items .hpwork-text h3 {
  color: white;
  font-weight: 100;
}
.hpwork .hpwork-items .hpwork-text h2 {
  color: white;
}
.hpwork .hpwork-items .hpwork-text p {
  color: rgba(255, 255, 255, 0.728);
  font-weight: 100;
}
.hpwork .hpwork-btn button {
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #02897A;
  font-size: 22px;
}

@media (max-width: 1400px) {
  .hpwork {
    padding: 40px 50px;
  }
  .hpwork .hpwork-title {
    font-size: 42px;
  }
  .hpwork .hpwork-items {
    gap: 50px;
  }
}
@media (max-width: 992px) {
  .hpwork {
    padding: 0 30px;
    gap: 30px;
  }
  .hpwork .hpwork-title {
    font-size: 36px;
  }
  .hpwork .hpwork-items {
    gap: 25x;
    flex-direction: column;
    align-items: center;
  }
  .hpwork .hpwork-items .hpwork-img {
    order: 1;
  }
  .hpwork .hpwork-items .hpwork-text {
    order: 2;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .hpwork {
    padding: 0 20px;
    gap: 0;
  }
  .hpwork .hpwork-title {
    font-size: 28px;
  }
  .hpwork .hpwork-items {
    gap: 15x;
    flex-direction: column;
    align-items: center;
  }
  .hpwork .hpwork-items .hpwork-img {
    order: 1;
  }
  .hpwork .hpwork-items .hpwork-text {
    order: 2;
    text-align: center;
    align-items: center;
  }
  .hpwork .hpwork-items .hpwork-text h3 {
    font-size: 22px;
  }
  .hpwork .hpwork-items .hpwork-text h2 {
    font-size: 22px;
  }
  .hpwork .hpwork-items .hpwork-text p {
    font-size: 14px;
  }
  .hpwork .hpwork-btn button {
    padding: 10px 20px;
    font-size: 18px;
  }
}
.offerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  padding: 50px 120px;
}
.offerr h1 {
  color: white;
  font-size: 40px;
}
.offerr .offerr-items {
  width: 100%;
  display: flex;
  gap: 200px;
  justify-content: center;
}
.offerr .offerr-items .offerr-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  color: white;
}
.offerr .offerr-items .offerr-item img {
  width: 100px;
}
.offerr .offerr-items .offerr-item h3 {
  font-size: 28px;
}
.offerr .offerr-items .offerr-item p {
  color: rgba(255, 255, 255, 0.598);
}

@media (max-width: 1400px) {
  .offerr {
    padding: 50px;
  }
  .offerr h1 {
    font-size: 36px;
  }
  .offerr .offerr-items {
    gap: 120px;
  }
}
@media (max-width: 992px) {
  .offerr {
    padding: 50px;
  }
  .offerr h1 {
    font-size: 32px;
  }
  .offerr .offerr-items {
    gap: 50px;
  }
  .offerr .offerr-items .offerr-item {
    gap: 20px;
  }
  .offerr .offerr-items .offerr-item img {
    width: 60px;
  }
}
@media (max-width: 576px) {
  .offerr {
    padding: 20px;
  }
  .offerr h1 {
    font-size: 24px;
  }
  .offerr .offerr-items {
    gap: 20px;
  }
  .offerr .offerr-items .offerr-item {
    gap: 10px;
  }
}