* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
* i {
  cursor: pointer;
}
* button {
  cursor: pointer;
}

main {
  width: 100%;
  background-color: #1F2E35;
  padding: 50px 0 100px;
}

header {
  width: 100%;
  height: 100px;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  gap: 20px;
  background-color: #1F2E35;
  z-index: 999;
}
header nav {
  animation-name: navigation;
  animation-timing-function: ease;
  animation-duration: 1s;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
}
header nav .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
header nav .logo span img {
  cursor: pointer;
}
header nav .nav-links {
  display: flex;
  gap: 2px;
  align-items: center;
}
header nav .nav-links li a {
  color: white;
  padding: 5px 15px;
  border: 2px solid transparent;
  transition: 0.6s;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
header nav .nav-links li a:focus {
  color: red;
}
header nav .nav-links2 {
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-150%);
  transition: 0.8s;
  z-index: 999;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  gap: 80px;
}
header nav .nav-links2 .nav-2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  align-items: center;
}
header nav .nav-links2 .nav-2 li a {
  padding: 10px 40px;
  border-radius: 10px;
  color: #2A2A2A;
  background-color: aliceblue;
  box-shadow: 1px 1px 10px gray;
  font-size: 18px;
  transition: 0.5s;
}
header nav .nav-links2 .nav-2 li a:hover {
  box-shadow: 1px 1px 10px #202E3D;
}
header nav .nav-links2 button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
}
header nav .nav-links2 button i {
  font-size: 24px;
  color: #2A2A2A;
  transition: 0.2s;
  background-color: aliceblue;
  padding: 6px 10px;
  border-radius: 5px;
}
header nav .nav-links2 button i:active {
  transform: rotate(720deg);
  transform: translateX(-100px);
}
header nav .nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav .nav-right .nav-btn {
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background-color: #02897A;
  transition: 0.6s;
}
header nav .nav-right .nav-btn:hover {
  box-shadow: 5px 5px 3px #02897A;
}
header nav .nav-right .nav-btn2 {
  background-color: transparent;
  padding: 15px 40px;
  border: 1px solid #02897A;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.6s;
}
header nav .nav-right .nav-btn2:hover {
  box-shadow: 5px 5px 3px #02897A;
}
header nav .nav-right .upp-btn {
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
header nav .nav-right .upp-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202E3D;
  cursor: pointer;
  font-size: 22px;
  transition: 0.5s;
  background-color: aliceblue;
  padding: 6px 10px;
  border-radius: 5px;
}
header .nav22 p {
  color: #E4E4E4;
}

@media (max-width: 786px) {
  header {
    padding: 0 20px;
  }
  header nav ul .links1 {
    display: none;
  }
  header nav .nav-right .upp-btn {
    display: block;
  }
}
.navbar.active .nav-links2 {
  transform: translateX(0);
}
.navbar.active .nav-right .upp-btn {
  transition: 0.4s;
  transform: translateX(600px);
}

.body.avtive .main {
  background-color: white;
}

@keyframes navigation {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateX(0);
  }
}
.hero {
  display: flex;
  padding: 0 140px;
}
.hero .hero-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-right: 15%;
  animation-name: hero-left;
  animation-timing-function: ease;
  animation-duration: 1s;
}
.hero .hero-info h1 {
  font-size: 48px;
  color: white;
}
.hero .hero-info p {
  font-size: 18px;
  color: white;
}
.hero .hero-info .hero-play {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero .hero-info .hero-play .hero-btn {
  padding: 20px 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #02897A;
  font-size: 18px;
  cursor: pointer;
  transition: 0.6s;
}
.hero .hero-info .hero-play .hero-btn:hover {
  box-shadow: 5px 5px 3px #02897A;
}
.hero .hero-info .hero-play .hero-play__icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero .hero-info .hero-play .hero-play__icon i {
  color: #02897A;
  font-size: 25px;
}
.hero .hero-info .hero-play .hero-play__icon ul li a {
  font-size: 24px;
  text-decoration: underline;
  color: #02897A;
}
.hero .hero-img {
  flex: 1.3;
  animation-name: hero-right;
  animation-timing-function: ease;
  animation-duration: 1s;
}
.hero .hero-img img {
  width: 100%;
}

@keyframes hero-left {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hero-right {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px 0;
  border-radius: 0 0 50% 50%;
  background: linear-gradient(to bottom, #1F2E35, #22343D);
}
.product h1 {
  color: white;
  font-size: 48px;
}
.product .product-items {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 30px 140px;
}
.product .product-items .product-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product .product-items .product-item h2 {
  color: white;
  font-size: 32px;
}
.product .product-items .product-item p {
  color: white;
  font-size: 22px;
}
.product .product-btn {
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  background-color: #02897A;
  font-size: 28px;
  color: white;
}

.cards {
  width: 100%;
  padding: 50px 140px;
  display: flex;
  gap: 100px;
}
.cards .card-img {
  flex: 1;
}
.cards .card-img img {
  width: 100%;
}
.cards .card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
.cards .card-info h5 {
  color: white;
  font-size: 28px;
}
.cards .card-info h2 {
  font-size: 56px;
  color: white;
}
.cards .card-info p {
  font-size: 25px;
  color: white;
  width: 80%;
  font-weight: 100;
}

.quick {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 150px 0 50px;
  border-radius: 40% 40% 0% 0%;
  background: linear-gradient(to top, #1F2E35, #22343D);
}
.quick h1 {
  font-size: 56px;
  color: white;
}
.quick p {
  font-size: 22px;
  color: white;
  width: 40%;
  text-align: center;
}
.quick .quick-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.quick .quick-btn {
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
  background-color: #02897A;
  font-size: 28px;
  color: white;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 140px 20px;
  gap: 40px;
}
.content h1 {
  font-size: 48px;
  color: white;
}
.content p {
  font-size: 22px;
  color: white;
}
.content .content-items {
  width: 100%;
  display: flex;
  gap: 50px;
}
.content .content-items .content-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  transition: 0.6s;
  border-radius: 10px;
}
.content .content-items .content-item:hover {
  box-shadow: 1px 1px 10px white;
}
.content .content-items .content-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.content .content-items .content-item .content-item__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.content .content-items .content-item .content-item__text p {
  color: #22343D;
}
.content .content-items .content-item .content-item__text h3 {
  color: #22343D;
  font-size: 36px;
  line-height: 50px;
}
.content .content-sircle {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.content .content-sircle i {
  font-size: 22px;
  color: white;
}
.content .content-sircle .sircle1 {
  color: gray;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 140px;
  align-items: center;
}
.table .table-title {
  font-size: 38px;
  color: white;
}
.table .table-info {
  font-size: 20px;
  color: white;
}
.table .table-cards {
  width: 100%;
  display: flex;
  gap: 100px;
  padding-top: 150px;
}
.table .table-cards .table-card {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
  transition: 0.6s;
  border-radius: 10px;
}
.table .table-cards .table-card .table-card__title {
  font-size: 34px;
  color: #22343D;
}
.table .table-cards .table-card .table-card__permonth {
  display: flex;
  gap: 20px;
  align-items: center;
}
.table .table-cards .table-card .table-card__permonth h1 {
  font-size: 78px;
  color: #02897A;
  font-weight: 900;
}
.table .table-cards .table-card .table-card__permonth span h2 {
  color: #02897A;
  font-size: 24px;
}
.table .table-cards .table-card .table-card__permonth span p {
  color: #AFAFAF;
  font-size: 22px;
}
.table .table-cards .table-card .table-btn {
  padding: 15px 35px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  color: white;
  background-color: #02897A;
}
.table .table-cards .table-card:hover {
  background-color: #02897A;
  color: white;
}
.table .table-cards .table-card:hover .table-card__title {
  color: white;
}
.table .table-cards .table-card:hover .table-card__permonth h1 {
  color: white;
}
.table .table-cards .table-card:hover .table-card__permonth h2 {
  color: white;
}
.table .table-cards .table-card:hover .table-card__permonth p {
  color: white;
}
.table .table-cards .table-card:hover .table-btn {
  background-color: white;
  color: #02897A;
}

.clients {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 50px 140px;
}
.clients h1 {
  font-size: 56px;
  text-align: center;
  color: white;
}
.clients p {
  font-size: 20px;
  text-align: center;
  color: white;
  width: 50%;
}
.clients .clients-items {
  width: 100%;
  display: flex;
  gap: 40px;
}
.clients .clients-items .clients-item {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 20px;
  border-radius: 10px;
}
.clients .clients-items .clients-item .stars {
  display: flex;
  gap: 10px;
}
.clients .clients-items .clients-item .stars i {
  color: gold;
}
.clients .clients-items .clients-item p {
  font-size: 18px;
  color: #737373;
  width: 100%;
  text-align: start;
}
.clients .clients-items .clients-item .client-img {
  display: flex;
  align-items: center;
  gap: 20px;
}

.biznes {
  width: 100%;
  padding: 100px 300px;
}
.biznes .biznes-box {
  background-color: #02897A;
  border-radius: 10px;
  padding: 40px;
  display: flex;
}
.biznes .biznes-box .biznes-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.biznes .biznes-box .biznes-info h1 {
  font-size: 50px;
  color: white;
}
.biznes .biznes-box .biznes-info .biznes-btn {
  padding: 15px 40px;
  font-size: 20px;
  color: #02897A;
  background-color: white;
  border: none;
  border-radius: 10px;
}
.biznes .biznes-box .biznes-iimg {
  flex: 1;
}
.biznes .biznes-box .biznes-iimg img {
  width: 100%;
}

footer {
  width: 100%;
  padding: 50px 140px;
  background-color: #1F2E35;
}
footer .footer-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer-boxes .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-boxes .footer-logo .footer-logo__icons {
  display: flex;
  gap: 15px;
}
footer .footer-boxes .footer-logo .footer-logo__icons i {
  font-size: 30px;
  padding: 10px 12px;
  border-radius: 50%;
  background-color: #EDFFFC;
  color: #02897A;
}
footer .footer-boxes ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-boxes ul li {
  font-size: 24px;
  color: white;
}
footer .footer-boxes ul li a {
  color: white;
  font-size: 18px;
}
footer .footer-boxes .footer-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .footer-boxes .footer-right p {
  color: white;
  font-size: 24px;
  width: 60%;
}
footer .footer-boxes .footer-right .footer-input {
  width: 100%;
}
footer .footer-boxes .footer-right .footer-input input {
  width: 100%;
  padding: 15px 5px;
  font-size: 20px;
  outline: none;
}
footer .footer-boxes .footer-right .footer-btn {
  padding: 10px 35px;
  font-size: 22px;
  color: white;
  background-color: #02897A;
  border: none;
  border-radius: 5px;
}
footer .footer-last-info {
  font-size: 18px;
  text-align: center;
  color: white;
  padding-top: 50px;
}