.map{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 50px;
    h1{
        font-size: 48px;
        color: white;
    }
    p{
        font-size: 22px;
        color: white;
    }
    .map-icon{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        i{
            padding: 15px;
            border-radius: 50%;
            background-color: #EDFFFC;
            color: #02897A;
            font-size: 34px;
            cursor: pointer;
        }
    }
    .maps{
        width: 100%;
        padding: 0 250px;
        iframe{
            width: 100%;
            height: 400px;
        }
    }
}

@media (max-width:1400px){
    .map{
        padding: 20px;
        .maps{
            padding: 0 150px;
        }
    }
}
@media (max-width:1200px){
    .map{
        padding: 20px;
        .maps{
            padding: 0 100px;
            iframe{
                height: 350px;
            }
        }
    }
}
@media (max-width:992px){
    .map{
        padding: 20px;
        .maps{
            padding: 0 50px;
            iframe{
                height: 300px;
            }
        }
    }
}
@media (max-width:992px){
    .map{
        padding: 20px;
        .maps{
            padding: 0 30px;
            iframe{
                height: 200px;
            }
        }
    }
}

