.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 140px;
    align-items: center;
    .table-title{
        font-size: 38px;
        color: white;
    }
    .table-info{
        font-size: 20px;
        color: white;
    }
    .table-cards{
        width: 100%;
        display: flex;
        gap: 100px;
        padding-top: 150px;
        .table-card{
            background-color: white;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 40px 0;
            transition: 0.6s;
            border-radius: 10px;
            .table-card__title{
                font-size: 34px;
                color: #22343D;
            }
            .table-card__permonth{
                display: flex;
                gap: 20px;
                align-items: center;
                h1{
                    font-size: 78px;
                    color: #02897A;
                    font-weight: 900;
                }
                span{
                    h2{
                        color: #02897A;
                        font-size: 24px;
                    }
                    p{
                        color: #AFAFAF;
                        font-size: 22px;
                    }
                }
            }
            .table-btn{
                padding: 15px 35px;
                font-size: 20px;
                border-radius: 10px;
                border: 2px solid transparent;
                color: white;
                background-color: #02897A;
            }
            &:hover{
                background-color: #02897A;
                color: white;
                .table-card__title{
                    color: white;
                }
                .table-card__permonth{
                    h1{
                        color: white;
                    }
                    h2{
                        color: white;
                    }
                    p{
                        color: white;
                    }
                }
                .table-btn{
                    // border: 2px solid white;
                    background-color: white;
                    color: #02897A;
                }
            }
        }
    }
}