.offerr{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 50px 120px;
    h1{
        color: white;
        font-size: 40px;
    }
    .offerr-items{
        width: 100%;
        display: flex;
        gap: 200px;
        justify-content: center;
        .offerr-item{
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            text-align: center;
            color: white;
            img{
                width: 100px;
            }
            h3{
                font-size: 28px;
            }
            p{
                color: rgba(255, 255, 255, 0.598);
            }
        }
    }
}

@media(max-width:1400px){
    .offerr{
        padding: 50px;
        h1{
            font-size: 36px;
        }
        .offerr-items{
            gap: 120px;
        }
    }
}
@media(max-width:992px){
    .offerr{
        padding: 50px;
        h1{
            font-size: 32px;
        }
        .offerr-items{
            gap: 50px;
            .offerr-item{
                gap: 20px;
                img{
                    width: 60px;
                }
            }
        }
    }
}
@media(max-width:576px){
    .offerr{
        padding: 20px;
        h1{
            font-size: 24px;
        }
        .offerr-items{
            gap: 20px;
            .offerr-item{
                gap: 10px;
            }
        }
    }
}